[Unit]
Description=Gic Blockchain Node
After=network.target

[Service]
Environment="PATH=/usr/lib/jvm/java-8-oracle/bin:$PATH"
ExecStart=/usr/lib/jvm/java-8-oracle/bin/java -jar $HOME/GicSmartChain/node/target/gic-all.jar $HOME/GicSmartChain/node/gic-mainnet.conf
StandardOutput=file:/var/log/gic/gic.log
StandardError=file:/var/log/gic/gic-error.log
Restart=always
User=root
TimeoutSec=300

[Install]
WantedBy=multi-user.target
